@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #080808;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}


/* Home page */

#header {
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;

}
.header-text button{
padding: 12px;
background-color: #ff004f;
cursor: pointer;
border-radius: 6px;
position: absolute;
margin-top: 30px;

}
.header-text button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.proimg {
    position: relative;
    width: 370px;
    height: 370px;
    background-color: #fff7f788;
    position: absolute;
    right: 20%;
    top: 35%;
    border-radius: 50%;
    border: 2px solid #ff004f;
}

.proimg img {
    width: 550px;
    height: 550px;
    position: absolute;
    right: -26%;
    top: -30%;
}

.logo {
    width: 140px;
    font-size: 40px;
}

.logo span {
    color: #ff004f;
}

.container {
    padding: 10px 10%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    background-color: #ff004f;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ease-in;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 18%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 20px;
    font-weight: 500;
}

.header-text p {
    margin-top: 12px;
    font-size: 50px;
    font-weight: 500;
}

.header-text p span {
    color: #ff004f;
}






/* about page */


#about {
    padding: 80px;
    color: #ababab;
}

#about .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-1 {
    flex-basis: 30%;
}

.col-1 img {
    width: 100%;
    border-radius: 20px;

}

.col-2 {
    flex-basis: 65%;
}

.col-2 .sub-tittle {
    font-size: 50px;
    color: white;
}

.col-2 p {
    margin-top: 10px;
}

.tab {
    display: flex;
    margin: 20px 0px 40px;
}

.tab .tab-links {
    margin-right: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #ff004f;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.skills ul {
    display: flex;


}

.skills ul li {
    list-style: none;
    margin-bottom: 1px;
    display: flex;
    margin-right: 24px;
    font-size: 15px;
    flex-wrap: wrap;
    font-weight: 700;
    padding: 10px;
    border-radius: 0px 4px 0px 4px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid white;
    color: #ff004f;

}

.skills ul li:hover {
    border: 1px solid #ff004f;
    color: white;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    font-size: 20px;
}

.Experience {
    position: relative;
    margin-top: 30px;
}

.Experience p {
    font-size: 23px;
}

.Experience p span {
    color: #ff004f;
}

.highschool span {
    color: #ff004f;
}

.highschool {
    font-size: 20px;
}

.low-school {
    font-size: 20px;
}

.low-school span {
    color: #ff004f;
}

.tabs {
    display: none;
}

.activetab {
    display: block;
}

.Education span {
    color: #ff004f;
}

.college {
    border: 1px solid #ff004f;
    padding: 15px 13px;
    border-radius: 0px 7px 0px 7px;
    padding: 15px 12px;

}

.college p {
    font-size: 19px;
    color: white;
}

.highschool {
    margin-top: 10px;
}

.school {
    margin-top: 10px;
}

/* my project */


.myproject h1 {
    margin-top: 70px;
    font-size: 40px;
    color: white;
}

.container2 {
    margin-top: 100px;
}

.own {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: -40px;
}

.prj {
    width: 400px;
    height: 350px;
    /* border: 1px solid white; */
    margin-right: 35px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(45, 45, 45);
    transition: 0.5s ease-in-out;
    position: relative;

}

.own .prj img {
    width: 100%;
    transition: 0.5s;

}

.own .prj img:hover {
    transform: translateY(-10px);
    /* transform: translateX(-30px); */
    border: 1px solid white;
    border-radius: 5px;
}

.own .prj p {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 600;

}

.own .prj:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.own .prj a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
    position: absolute;
    bottom: 0;
}


/* 
contact */


.C-deatails a {
    text-decoration: none;
    color: white;
}

.num {
    display: flex;
    flex-direction: column;
}

.num a i {
    margin-right: 20px;
    color: #ff004f;


}


.num a {
    margin-bottom: 20px;
}

.contact {
    margin-top: 300px;
}

.contact h1 {
    margin-bottom: 15px;
    color: white;
    font-size: 45px;
}

.social {
    margin-top: 20px;

}

.social a {
    margin-right: 20px;
    font-size: 20px;
}

.inputbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -6%;
    width: 600px;
    min-height: 400px;
    margin-top: 300px;
}

.inputbox input {
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    background: transparent;
    color: white;
    border: none;
    background-color: rgb(57, 56, 56);
    outline: none;
    border-radius: 5px;
    height: 60px;

}

.inputbox .mess {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    min-height: 160px;
    background: transparent;
    background-color: rgb(57, 56, 56);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

.inputbox button {
    position: relative;
    margin-top: 50px;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    background-color: #ff004f;
    cursor: pointer;

}

section {
    padding: 20px;
    margin: 20px 0;
}

section h2 {
    margin-top: 0;
}


/* 

@media (max-width: 767px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        background-color: black;
        position: sticky;
        top: 0;
        z-index: 1000;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul li {
        display: block;
        padding: 5px 7px;
        list-style: none;
    }

    .col-2 p {
        width: 100%;
        text-align: justify;
        
    }

    .tabs ul {
        display: flex;
        flex-direction: column;
    }

    .myproject h1 {
        font-size: 20px;
        text-align: center;
    }

    .myproject {
        width: 100%;
    }


    .proimg {
        width: 100px;
        height: 100px;
    }

    .prj {
        width: 270px;
        height: 270px;
        /* border: 1px solid white; */
/* margin-right: 35px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: rgb(45, 45, 45);
        transition: 0.5s ease-in-out;
        position: relative;
    
    } */

/* .skills ul li {
        list-style: none;
        margin-bottom: 20px;
        display: flex;
     
        font-size: 12px;
        flex-wrap: wrap;
        font-weight: 700;
        padding: 10px;
        border-radius: 0px 4px 0px 4px;
        cursor: pointer;
        transition: 0.5s;
        border: 1px solid white;
        color: #ff004f;
        
    }
   .header-text h1{
    text-align: center;
   }
   .header-text p{
    text-align: center;
    font-size: 30px;
   }
   .proimg{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .myproject {
    text-align: justify;
}

.own  {
display:flex ;
justify-items: center;


}

} */


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .tabs ul {
        display: flex;
        flex-direction: column;
        
    }
    .tabs ul li{
        margin-top:10px ;
    }

    .container2,
    .inputbox form {
        width: 90%;
    }

    .about,
    .contact {
        padding: 30px 0;
    }

    .tab {
        flex-direction: column;
    }

    .tab p {
        margin-bottom: 10px;
    }

    .myproject .own .prj {
        width: 100%;
    }

    .contact .C-deatails {
        flex-direction: column;
    }

    .proimg {
        width: 200px;
        height: 200px;
        top: 50px;
        right:30%;
    }
    .col-1 {
        flex-basis: 0%;
        display: none;
    }
    .proimg img {
        width: 250px;
        height: 250px;
        top: -28px;
       right:-30px;

    }
    .header-text {
        margin-top: 300px;
    }
    .col-2 p {
        min-width: 300px;
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .header-text h1 {
        font-size: 40px;
    }

    .header-text p {
        font-size: 18px;
    }

    .container2,
    .inputbox form {
        width: 100%;
    }

    .tabs ul {
        display: flex;
        flex-direction: column;
    }

    .col-1 img {
        display: none;
    }

    .col-2 .sub-tittle {
        font-size: 30px;
    }

    .col-2 p {
        text-align: justify;
    }

    .myproject h1 {
        font-size: 30px;
    }

    .header-text {

        margin-top: 400px;
    }

    .col-2 p {
        min-width: 200px;
    }

    .proimg img {
        width: 250px;
        height: 250px;
        top: -28px;
       right:-30px;

    }

    .proimg {

        position: fixed;
        left: 90px;

    }

    .C-deatails a {
        font-size: 13px;

    }

    .contact h1 {
        margin-bottom: 15px;
        color: white;
        font-size: 26px;
    }

    .header-text h1 {
        font-size: 36px;
        font-weight: 400;
    }

    .header-text {
        margin-top: 300px;
    }
    .col-1 {
        flex-basis: 0%;
        display: none;
    }
   

}

   
    